.hero {
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    position: absolute;
    z-index: 1;
    top: 136px;
    color: var(--black-color);
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-size: 240px;
    line-height: 281px;
    text-transform: uppercase;
    -webkit-text-stroke: 7px var(--black-color);
    letter-spacing: -2px;
    text-align: start;

    @include tablet {
      font-size: 200px;
    }

    @include small-tablet {
      top: 60px;
      font-size: 150px;
    }

    @include mobile {
      -webkit-text-stroke: 5px var(--black-color);
      position: relative;
      font-size: 70px;
      line-height: 82px;
      margin-top: 40px;
      letter-spacing: 0px;
      top: 0;
    }
  }

  &__image {
    margin-top: 191px;
    width: 980px;
    height: 364px;

    @include small-tablet {
      margin-top: 100px;
      width: 738px;
    }

    @include mobile {
      margin-top: 31px;
      width: 100%;
      height: 364px;
    }

    &-img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__desc {
    width: 100%;
    padding: 16px 0;
    margin-top: 70px;
    border-top: solid 1px var(--black-color);
    border-bottom: solid 1px var(--black-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      padding: 22px 0;
      margin-top: 50px;
    }

    &-text {
      font-family: 'Poiret One';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      -webkit-text-stroke: 0.3px var(--black-color);
      letter-spacing: -0.5px;

      @include mobile {
        margin-top: -12px;
        width: 129px;
        font-size: 14px;
        line-height: 16px;
      }
    }

    &-list {

      &.first-list {
        margin-right: 2px;
      }

      &_item {
        color: var(--black-color);
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        -webkit-text-stroke: 0.3px var(--black-color);

        @include mobile {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
