<section class="about" id="about">
  <div class="about__container container">
    <h3 class="about__title">о студии ad</h3>
    <ul class="about__list list-reset">
      <li class="about__list-item">
        <p class="about__list-item_num">73</p>
        <span class="about__list-item_desc">проекта за последние 2&nbsp;года</span>
      </li>
      <li class="about__list-item">
        <p class="about__list-item_num">28</p>
        <span class="about__list-item_desc">человек работают в&nbsp;студии</span>
      </li>
      <li class="about__list-item">
        <p class="about__list-item_num">16</p>
        <span class="about__list-item_desc">городов откуда мы работаем</span>
      </li>
      <li class="about__list-item">
        <p class="about__list-item_num">85</p>
        <span class="about__list-item_desc">процентов клиентов обращаются повторно</span>
      </li>
    </ul>
  </div>
</section>
