<div class="burger-menu" data-menu>
  <div class="burger-menu__container container" data-menu-overlay>
    <nav class="nav burger-menu__nav" title="Панель навигации">
      <ul class="nav__list list-reset burger-menu__nav-list">
        <li class="nav__item burger-menu__nav-list_item"><a href="#about" class="nav__link" data-menu-item>О студии</a></li>
        <li class="nav__item burger-menu__nav-list_item"><a href="#projects" class="nav__link" data-menu-item>Проекты</a></li>
        <li class="nav__item burger-menu__nav-list_item"><a href="#comand" class="nav__link" data-menu-item>Команда</a></li>
        <li class="nav__item burger-menu__nav-list_item"><a href="#offers" class="nav__link" data-menu-item>Услуги</a></li>
        <li class="nav__item burger-menu__nav-list_item"><a href="#contact" class="nav__link" data-menu-item>Контакты</a></li>
      </ul>
    </nav>
    <address class="burger-menu__contact">
      <a class="burger-menu__contact-tel" href="tel:+7915315912">+7&nbsp;(915)&nbsp;315-99-12</a>
      <a href="tg://msg_url?url=@user&text=hey" class="burger-menu__contact-tg">TG</a>
      <a href="https://vk.com/users" class="burger-menu__contact-vk">VK</a>
      <a href="https://www.instagram.com/users/" class="burger-menu__contact-ig">IG</a>
    </address>
  </div>
</div>
