<header class="header">
  <div class="header__container container">
    <nav class="nav header__nav" title="Панель навигации">
      <ul class="nav__list list-reset header__nav-list">
        <li class="nav__item header__nav-list_item"><a href="#about" class="nav__link">О студии</a></li>
        <li class="nav__item header__nav-list_item"><a href="#projects" class="nav__link">Проекты</a></li>
        <li class="nav__item header__nav-list_item"><a href="#comand" class="nav__link">Команда</a></li>
        <li class="nav__item header__nav-list_item"><a href="#offers" class="nav__link">Услуги</a></li>
        <li class="nav__item header__nav-list_item"><a href="#contact" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <a class="header__logo" href="/ad-studio">
      <svg class="header__logo-svg">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <address class="header__contact">
      <a class="header__contact-tel" href="tel:+7915315912">+7&nbsp;(915)&nbsp;315-99-12</a>
      <a href="tg://msg_url?url=@user&text=hey" class="header__contact-tg">TG</a>
      <a href="https://vk.com/users" class="header__contact-vk">VK</a>
      <a href="https://www.instagram.com/users/" class="header__contact-ig">IG</a>
    </address>
    <button class="header__burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>
  </div>
</header>
