<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- opengraph & description -->
  <meta property="og:title" content="AD STUDIO">
  <meta property="og:site_name" content="AD STUDIO - рекламное агество">
  <meta property="og:url" content="https://yuutacn.github.io/ad-studio">
  <meta property="og:description" content="рекламное агенство ad studio Над задачей работают таланты с сильным продуктовым опытом">
  <meta property="og:image" content="/ad-studio/img/opengraph/og.png">
  <meta property="og:image:secure_ur" content="https://yuutacn.github.io/ad-studio/img/opengraph/og.png">
  <link rel="image_src" href="/ad-studio/img/opengraph/og.png">
  <meta name=”Description” content="рекламное агенство ad studio Над задачей работают таланты с сильным продуктовым опытом">

  <!-- twitter -->
  <meta name="twitter:title" content="AD STUDIO">
  <meta name="twitter:description" content="рекламное агенство ad studio Над задачей работают таланты с сильным продуктовым опытом">
  <meta name="twitter:site" content="https://yuutacn.github.io/ad-studio">
  <meta name="twitter:image" content="/ad-studio/img/opengraph/og.png">

  <!-- icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ffd310">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- preload fonts -->
  <link rel="preload" href="fonts/PoiretOne-Regular.woff2" as="font" type="font/woff2" crossorigin>

  <!-- import css -->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- import custom js -->
  <script defer src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script> <!-- Smooth scroll -->

  <!-- import js -->
  <!-- <script defer src="js/custom/graph-modal.js"></script> Подключение необходимых скриптов -->
  <title>@title</title>
</head>
