<section class="hero" id="hero">
  <div class="hero__container container">
    <h2 class="hero__name">AD STUDIO</h2>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero_image.avif" type="image/avif">
        <source srcset="img/hero_image.webp" type="image/webp">
        <img loading="lazy" src="img/hero_image.png" class="image hero__image-img" width="980" height="364"
          alt="perfect woomen in yellow dress">
      </picture>
    </div>

    <div class="hero__desc">
        <p class="hero__desc-text">Рекламное агенство<br>Работаем с&nbsp;2015&nbsp;года</p>
        <ul class="hero__desc-list first-list list-reset">
          <li class="hero__desc-list_item">SMM</li>
          <li class="hero__desc-list_item">SEO</li>
          <li class="hero__desc-list_item">ТАРГЕТ</li>
          <li class="hero__desc-list_item">КОНТЕКСТ</li>
        </ul>
        <ul class="hero__desc-list second-list list-reset">
          <li class="hero__desc-list_item">РАССЫЛКИ</li>
          <li class="hero__desc-list_item">БЛОГЕРЫ</li>
          <li class="hero__desc-list_item">КОПИРАЙТИНГ</li>
          <li class="hero__desc-list_item">МАРКЕТИНГ</li>
        </ul>
    </div>
  </div>
</section>
