// colors
:root {
  // base
  --font-family: "Poiret One", sans-serif;
  --content-width: 1110px;
  --container-offset: 165px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @media (min-width: (1024px)) and (max-width: (1439px)) {
    --content-width: 994px;
    --container-offset: 15px;
  }

  @media (min-width: (768px)) and (max-width: (1023px)) {
    --content-width: 900px;
    --container-offset: 15px;
  }

  @media (min-width: (375px)) and (max-width: (767px)) {
    --content-width: 500px;
    --container-offset: 20px;
  }

  // colors
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #FFD310;

  // animation
  --default-cubic: cubic-bezier(.09,.44,.46,.91);
}
